body{
    margin: 0;
    box-sizing:content-box;
    color:black;
    
    
    
}
.encabezado{
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: xx-large;
    background-color: rgb(245, 70, 70);
    
}


.animales {
    display: flex;
    text-decoration:none;
    justify-content: space-around;
    color: black;
    font-size: x-large;
    


}
.buscador{
    margin-top:75px;
    justify-content: center;
    display:flex;
    
    
    
}
.buscador--input{
    width:350px;
    height:20px;
    text-align: center;
    border-radius:25px;
    
}
.cuerpo{
    display: flex;
    justify-content: space-between;
}
.servicios{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-decoration: none;
    margin-top: 25px;
    padding: 10px;
    color:rgb(245, 70, 70);
    font-size: larger;

    
}
.anuncio{
    display: flex;
    flex-direction: column;
    margin-right:350px;
    text-decoration: none;
    margin-top:10px;
    padding: 10px;
    color: black;
    font-size: larger;
}
.anuncio--fotos{
    justify-content: center;
}
.fotos{
    display: flex;
    justify-content:space-around;
}
footer{
    display: flex;
    justify-content:space-around;
    margin-top:200px;
    text-align: center;
}
